<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-security2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_security2_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-security2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-security2" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: com.mysql:mysql-connector-j:8.0.31" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-crypto:5.7.5" />
        </element>
      </element>
    </root>
  </artifact>
</component>